body {

    margin:0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing:antialised;
    -moz-osx-font-smoothing:grayscale;
    background-color: #535353;

}

.App{
    background:#121212;
    margin:20px auto;
    width: 90%;
    max-width:700px;
    color:#eee;
}

.navbar h1{
    margin:10px 0;
}